<strong>All Kittens</strong>

<ul>
  <% @kittens.each do |kitten| %>
    <li>
      <p><%= kitten.name %></p>

      <ul>
        <li><%= link_to "More about this kitten...", kitten_path(kitten) %></li>
        <li><%= link_to "Delete kitten info", kitten_path(kitten), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
      </ul>
    </li>
  <% end %>
</ul>
